* {
  margin: 0;
  padding: 0;
}


body {
  font-family: helvetica;
  color: white;
  background-color: black;
}

section {

}

article {
  background-color: #282C34;
  margin: 0;
  padding: 2em;

}


h1 {
  font-size: 3em;
  padding: 1em;
}

h2 {
  padding-bottom: .3em;
}

p {
  max-width: 35%;
  padding-bottom: .3em;
  font-family: monospace;
  font-size: 1.1em;
}

p:last-of-type {
  padding-top: .3em;
  padding-bottom: .3em;
}

img {
  width: 35%;
  display: flex;
}

img:hover {
  width: 38%;
  transition: 1.5s;
}

ul {
  visibility: hidden;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

li {
  color: #E7EAED;
  font-family: helvetica;
}

button {
  width: 10em;
  height: 2em;
}
