* {
  margin: 0;
  padding: 0;
}


body {
  font-family: helvetica;
  color: white;
  background-color: #685D79;
}


.loader {
  background-color: red;
  font-size: 2em;
}

.hide {
  display: none;
}

header {
  background-color: #362F19;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
  background-color: #475C7B;
  padding: 1em;
  padding-right: 2em;
  max-width: 30em;
}


h1 {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
  color: #FCBB6D;
}

h2 {
  padding-bottom: .3em;
}

p {
  max-width: 90%;
  padding-bottom: .3em;
  padding-top: .3em;
  font-family: monospace;
  font-size: 1.1em;
}

p:last-of-type {
  padding-top: .3em;
  padding-bottom: .3em;
}

img {
  width: 95%;
}

img:hover {
  width: 96%;
  transition: .7s;
}

div {
    visibility: hidden;
    /* display: none; */
    overflow: hidden;
    height: 0;
    transform: translateY(-100%);
    transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;
    transition: .9s ease-in-out;
}

ul {
  list-style: none;
  padding-top: .5em;
  padding-bottom: .5em;
}

.show {
    visibility: visible;
    transform: translateY(0%);
    height: auto;
}


.foldin {
  height: 0;
}

li {
  color: #E7EAED;
  font-family: helvetica;
}

li:last-of-type {
  color: green;
}

button {
  width: 15em;
  height: 4em;
  background-color: #E68524;
  opacity: .6;
  border: none;
  margin-top: 1em;
}

button:hover {
  background-color: #FDBB11;
  opacity: 1;
  transition: .3s;

}

button:active {
  content: 'hi';
}
