
h1 {
  font-family: monospace;
  /* font-size: 3em; */
}

h2 {
  color: red;
}

article {
  position: relative;

}

section {
  display: inline-block;
}

img {
  width: 50%;
  display: flex;
}

ul {
  visibility: hidden;
  list-style: none;
}

button {
  width: 10em;
  height: 2em;
}
